
.listmanager-tab-container {
  width: 90%;
  margin: 50px auto;
  color: #333;
  font-family: Arial, sans-serif;
}


.listmanager-tab-headers {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.listmanager-tab {
  flex: 1;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  background-color: #1f97d5;
  box-shadow: 0px 0px 10px white;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s;

}

.listmanager-tab:hover {
  background-color: #e0e0e0;
  color: #1f97d5;
}

.listmanager-active {
  background-color: #005ed8;
  border-bottom: 2px solid #4285f4;
  font-weight: bold;
  box-shadow: none;
}

.listmanager-list-item {
  background-color: #fafafa;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listmanager-list-item div {
  display: flex;
  align-items: center;
}

.listmanager-list-item img {
  margin-left: 10px;
  cursor: pointer;
}

.listmanager-no-files {
  text-align: center;
  color: #2d2d2d;
  margin-top: 20px;
}

.listmanager-tab + .listmanager-tab {
  border-left: 1px solid #ccc;
}

h2 {
  margin-bottom: 20px;
  color: #fafafa;
}

